html {
  scroll-behavior: smooth;
}

body {
  margin-top: 100px;
  font-family: 'Lato';
  background-color: #ECEFF1;
}

/* Below is a scroll offset solution adapted from https://css-tricks.com/hash-tag-links-padding/ */

#whatitis::before,
#howitworks::before,
#howtogetit::before {
  display: block;
  content: " ";
  margin-top: -70px;
  height: 70px;
  visibility: hidden;
  pointer-events: none;
}

/* End of adapted solution */

h2 {
  text-align: center;
}

p {
  line-height: 1.5em;
  text-align: justify;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  background: black;
  width: 100vw;
  height: 70px;
  top: 0;
  left: 0;
  right: 0;
}

#logo,
#title {
  width: auto;
  display: flex;
  align-items: center;
  color: white;
  margin-left: 10px;
}

nav {
  width: 350px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

a {
  color: red;
  text-decoration: none;
}

main,
footer {
  justify-content: center;
  margin-left: 25%;
  margin-right: 25%;
}

iframe {
  display: block;
  margin: auto;
  border: none;
  max-width: 100%;
  height: auto;
}

#form-container {
  display: flex;
  justify-content: center;
}

#email {
  border: none;
}

#header-img {
  display: block;
  max-height: 60px;
}

@media (max-width: 640px) {
  body {
    margin-top: 200px;
  }
  
  header {
    height: 170px;
  }
  
  /* Below is a scroll offset solution adapted from https://css-tricks.com/hash-tag-links-padding/ */
  
  #whatitis::before,
  #howitworks::before,
  #howtogetit::before {
    margin-top: -170px;
    height: 170px;
  }
  
  /* End of adapted solution */
  
  header, nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
 
  #header-img {
    height: 60px;
  }
  
  main,
  footer {
    margin-left: 0;
    margin-right: 0;
  }
 
}
